# Mac OS X Finder
.DS_Store

# Private Keys
*.pem

# Xcode legacy
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser

# Xcode
xcuserdata/
project.xcworkspace/
DerivedData/

# build products
build/
*.[oa]

# repositories
.hg
.svn
CVS

# automatic backup files
*~.nib

*.swp
*~
*(Autosaved).rtfd/
Backup[ ]of[ ]*.pages/
Backup[ ]of[ ]*.key/
Backup[ ]of[ ]*.numbers/

# Cocoapods
Pods/
GoogleService-Info.plist

codesigndoc
codesigndoc_exports/


# firebase-functions
firestore-debug.log
ui-debug.log
firebase.json	
firestore.indexes.json
Authorization.js	
firestore-debug.log	
node_modules		
package-lock.json	
package.json		
